*{padding: 0;
    margin: 0;}

header{min-height: 8rem;
       background-color: aqua;
        text-align: center;}

img{padding: 0;
    margin: 0;
    width: 150px;
    height: auto;}

nav{min-height: 8rem;
    background-color: white;
    text-align: center;
    justify-content: space-around;}

div{ min-height: 8rem;
    background-color: white;
    text-align: center;}

main{min-height: 8rem;
    background-color: aqua;
    display: flex;
    justify-content: space-around;}

    main>h1{background-color: aqua;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;}

    main>div{width: 50%;
            background-color: aqua;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;}


.center{text-align: center;}
.derecha {text-align: center; color: white;}
.izquierda {text-align: center; color: white;}


footer{min-height: 8rem;
        background-color: rgb(3, 3, 65);}
